.user,
.stats,
.location{
    display: flex;
    align-items: center;
}

.user {
    background-color: #665db98b;
    padding: 2rem;
    border-radius: .3rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    box-shadow: rgba(166, 148, 255, 0.35) 0px 5px 15px;
}

.user h2{
    color:#5db9aa;
}

.user img{
    width: 100px;
    height: 100px;
    border: 3px solid #5db9aa;
    border-radius: 50%;
}

.stats{
    justify-content: space-between;
    gap: 1.3rem;
}

.stats p {
    color: #9792c5;
}

.stats .number{
    color: #b3b3b3;
}


.location{
    gap: .3rem;
}

.location svg{
    fill: #5db9aa;
}

.location span{
    color: #9792c5;
}

.user a{
    text-align: center;
    background-color: #5db9aa;
    padding: 1rem;
    border-radius: .3rem;
}

.user a:hover{
    background-color: #74bcb0;
}